# .coveragerc

[run]
branch = True
source = coverlovin2

[report]
exclude_lines =
    if __name__ == .__main__.:
omit =
    coverlovin2/test/*
    coverlovin2/__init__.py

[xml]
output = coverage.xml
