# .flake8

[flake8]
exclude =
    .git,
    __pycache__,
    docs/source/conf.py,
    old,
    build,
    dist
max-complexity = 10
max-line-length = 100

per-file-ignores =
    app.py: C0413  # wrong-import-position
    app.py: E402  # module level import not at top of file
