[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
# pipenv install --dev
attrs = "*"
codecov = "*"
coveralls = "*"
mypy = "*"
pipenv = "*"
pytest = "*"
pytest-cov = "*"
pytest-dependency = "*"
pyyaml = ">=4.2b1"
setuptools = "*"
wheel = "*"
yamllint = "*"

[win-packages]
# pipenv install --win
py2exe = "*"

[packages]
# XXX: this should match file setup.py
attrs = "~=20.3"
discogs-client = "~=2.3"
musicbrainzngs = "~=0.7"
mutagen = "~=1.45"
Pillow = "~=8.1"
tabulate = "~=0.8.7"

#[requires]
# XXX: `python_version` does not support version range https://github.com/pypa/pipfile/issues/87
#python_version = "3.7"

[pipenv]
allow_prereleases = true
