[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
# See README.md section `pipenv update` for help updating.
#
# These versions should match `setup.py:setup.install_requires`
#
attrs = "==23.1.0"
#discogs-client = "2.3.0"
requests = "==2.31.0"
musicbrainzngs = "==0.7.1"
mutagen = "==1.47.0"
Pillow = "==10.1.0"
tabulate = "==0.9.0"

[dev-packages]
# $ pipenv install --dev
# this should match `setup.py:setup.extras_require`
attrs = "*"
codecov = "*"
coveralls = "*"
# explicitly include `exceptiongroup` else error during Travis CI
#    ModuleNotFoundError: No module named 'exceptiongroup'
# See Issue #23
exceptiongroup = "*"
mypy = "*"
pip-run = "*"
pipenv = "*"
pytest = "*"
pytest-cov = "*"
pytest-dependency = "*"
# `pluggy` is required by `pytest`, but not installed in CircleCI run of pytest
pluggy = "*"
pyyaml = ">=4.2b1"
setuptools = "*"
twine = "*"
wheel = "*"
yamllint = "*"

[win-packages]
# $ pipenv install --win
# XXX: commented the next line due to https://github.com/pypa/pipenv/issues/6005
# py2exe = "*"

[pipenv]
allow_prereleases = false
